<?xml version='1.0' encoding='utf-8'?>
<widget id="com.phonegap.helloworld" version="1.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:gap="http://phonegap.com/ns/1.0">
    <name>MyXHain</name>
    <icon src="icon.png" />
    <icon src="img/icons/android/ldpi-36.png" gap:platform="android" gap:density="ldpi" />
    <icon src="img/icons/android/mdpi-48.png" gap:platform="android" gap:density="mdpi" />
    <icon src="img/icons/android/hdpi-72.png" gap:platform="android" gap:density="hdpi" />
    <icon src="img/icons/android/xhdpi-96.png" gap:platform="android" gap:density="xhdpi" />
    <gap:splash src="splash.png" />
    <gap:splash gap:density="ldpi" gap:platform="android" src="img/screen/android/screen-ldpi-portrait.png" />
    <gap:splash gap:density="mdpi" gap:platform="android" src="img/screen/android/screen-mdpi-portrait.png" />
    <gap:splash gap:density="hdpi" gap:platform="android" src="img/screen/android/screen-hdpi-portrait.png" />
    <gap:splash gap:density="xhdpi" gap:platform="android" src="img/screen/android/screen-xhdpi-portrait.png" />
    
</widget>